@media (min-width: 940px) {
  .wrapper {
    max-width: 1400px;
    min-width: 1200px;
    margin: 0 auto;
  }
  .wrapper .container {
    min-width: 1200px;
    @media (min-width: 1400px) {
      padding: 0 0;
    }
  }
}


.content {
  @include reset-mp();
}
